[run]
omit =
    */api/*
    */parsers/*
    */tokens/*
    */auth/*
    */schemas.py
    */__init__.py
    */__main__.py
    */tests/*
    */migrations/*
    */venv/*
    */.venv/*

    innohassle_accounts.py
    sources_enum.py
