### IDE ###
.idea
.vscode

### Cache ###
__pycache__
.ruff_cache
*.py[cod]
s3/
qdrant_storage/
cache/
test_data/

### Environment ###
.env
settings.yaml
private.pem
public.pem

### OS ###
.DS_Store

lance_data/
