[tool.poetry]
name = "innohassle-search"
version = "0.1.0"
description = "Search service for InNoHassle ecosystem"
authors = ["Nikita <n.sannikov@innopolis.university>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pyyaml = "^6.0.1"
colorlog = "^6.8.2"
pydantic = "^2.7.4"
beanie = "^1.26.0"
motor = "^3.4.0"
fastapi = "^0.110.0"
uvicorn = "^0.27.1"
cryptography = "^42.0.5"
authlib = "^1.3.0"
httpx = "^0.27.0"
minio = "^7.2.7"
python-multipart = "^0.0.9"
types-pyyaml = "^6.0.12.20240311"
qdrant-client = "^1.10.1"

[tool.poetry.group.dev]
optional = true
[tool.poetry.group.dev.dependencies]
ruff = "^0.4.9"
pre-commit = "^3.6.2"


[tool.poetry.group.compute.dependencies]
pymupdf4llm = { url = "https://github.com/dantetemplar/pymupdf4llm/releases/download/0.1.3/pymupdf4llm-0.1.3-py3-none-any.whl" }
langchain = "^0.2.6"
sentence-transformers = "^3.0.1"
qdrant-client = "^1.10.1"
nltk = "^3.8.1"
mmh3 = "^4.1.0"
pystemmer = "^2.2.0.1"

[tool.pydantic-mypy]
# setup pydantic plugin
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
warn_untyped_fields = true

# ignore authlib types
[[tool.mypy.overrides]]
module = "authlib.jose.*"
ignore_missing_imports = true
# ignore retriv types
[[tool.mypy.overrides]]
module = "retriv.*"
ignore_missing_imports = true
# ignore pymupdf types
[[tool.mypy.overrides]]
module = "pymupdf.*"
ignore_missing_imports = true
# ignore pymupdf4llm types
[[tool.mypy.overrides]]
module = "pymupdf4llm.*"
ignore_missing_imports = true


[tool.ruff]
line-length = 120
lint.ignore = [
    # wildcard imports are fine
    "F403",
    "F405",
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
