$schema: https://json-schema.org/draft-07/schema#
$defs:
  Accounts:
    description: InNoHassle-Accounts integration settings
    properties:
      api_url:
        default: https://api.innohassle.ru/accounts/v0
        description: URL of the Accounts API
        title: Api Url
        type: string
    title: Accounts
    type: object
  ApiSettings:
    properties:
      app_root_path:
        default: ''
        description: Prefix for the API path (e.g. "/api/v0")
        title: App Root Path
        type: string
      cors_allow_origin_regex:
        default: .*
        description: 'Allowed origins for CORS: from which domains requests to the
          API are allowed. Specify as a regex: `https://.*\.innohassle\.ru`'
        title: Cors Allow Origin Regex
        type: string
      db_url:
        description: URL of the MongoDB database
        examples:
        - mongodb://username:password@localhost:27017/db?authSource=admin
        format: password
        title: Db Url
        type: string
        writeOnly: true
    required:
    - db_url
    title: ApiSettings
    type: object
  MinioSettings:
    properties:
      endpoint:
        default: 127.0.0.1:9000
        description: URL of the target service.
        title: Endpoint
        type: string
      secure:
        default: false
        description: Use https connection to the service.
        title: Secure
        type: boolean
      region:
        anyOf:
        - type: string
        - type: 'null'
        default: null
        description: Region of the service.
        title: Region
      bucket:
        default: search
        description: Name of the bucket in the service.
        title: Bucket
        type: string
      access_key:
        description: Access key (user ID) of a user account in the service.
        examples:
        - minioadmin
        title: Access Key
        type: string
      secret_key:
        description: Secret key (password) for the user account.
        examples:
        - password
        format: password
        title: Secret Key
        type: string
        writeOnly: true
    required:
    - access_key
    - secret_key
    title: MinioSettings
    type: object
  MlServiceSettings:
    properties:
      api_url:
        default: http://127.0.0.1:8002
        description: URL of ml service API
        title: Api Url
        type: string
      api_key:
        description: Secret key to access API
        format: password
        title: Api Key
        type: string
        writeOnly: true
    required:
    - api_key
    title: MlServiceSettings
    type: object
properties:
  $schema:
    default: null
    title: $Schema
    type: string
  api_settings:
    $ref: '#/$defs/ApiSettings'
  ml_service:
    $ref: '#/$defs/MlServiceSettings'
  accounts:
    $ref: '#/$defs/Accounts'
    default:
      api_url: https://api.innohassle.ru/accounts/v0
  minio:
    $ref: '#/$defs/MinioSettings'
required:
- api_settings
- ml_service
- minio
title: Settings
type: object
